logs
target
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID

#new files
project/project
project/target
tmp
.history
dist
/*.iml
/out
activator
activator-launch-1.3.5.jar
activator.bat
conf/evolutions
LICENSE
README