
/* Set background picture, and set background size*/
body{

	border-top: 1px solid #808080;
	border-bottom: 7px solid #808080;
	background: url("background.jpg") no-repeat center center fixed;

  -moz-background-size: cover;

  -webkit-background-size: cover;

  -o-background-size: cover;

   background-size: cover;
}

.main > div {
  display: inline-block;
  float: right;
  width: 49%;
  margin-top: 10px;
}

/*Set attributes for register class*/
.register {

  margin-top: 300px;
  width: 500px;
  margin: 30px auto;
  padding: 10px;
  border: 7px solid #808080;
  border-radius: 10px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #444;
  background-color: #F0F0F0;
  box-shadow: 0 0 20px 0 #000000;
}

/* Set headers in class register*/
.register h3 {
  margin: 0 15px 20px;
  border-bottom: 2px solid #72B372;
  padding: 5px 10px 5px 0;
  font-size: 1.1em;
}
/*set option to all div in regsiter class*/
.register div {
  margin: 0 0 15px 0;
  border: none;
}

/*Set option to all labels in register class*/
.register label {
  display: inline-block;
  width: 25%;
  text-align: right;
  margin: 10px;
}

/* Set option for specifed inpuy type element*/
.register input[type=text], .register input[type=password] , .register input[type=file] {
  width: 65%;
  font-family: "Lucida Grande","Lucida Sans Unicode",Tahoma,Sans-Serif;
  padding: 5px;
  font-size: 0.9em;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.07);
}
/*Set focus on them*/
.register input[type=text]:focus, .register input[type=password]:focus, .register input[type=checkbox]:focus {
  background: #FFFFFF;
}

/*Set style and option for buttons in register class*/
.register .button {

  font-size: 1em;
  border-radius: 8px;
  padding: 10px;
  border: 1px solid #59B969;
  box-shadow: 0 1px 0 0 #60BD49 inset;
  background: #63E651;
  background: -webkit-linear-gradient(#63E651, #42753E);
  background: -moz-linear-gradient(#63E651, #42753E);
  background: -o-linear-gradient(#63E651, #42753E);
  background: linear-gradient(grey, #42753e);
}
/*Set button hover*/
.register .button:hover {
  background: #51DB1C;
  background: -webkit-linear-gradient(#51DB1C, #6BA061);
  background: -moz-linear-gradient(#51DB1C, #6BA061);
  background: -o-linear-gradient(#51DB1C, #6BA061);
  background: linear-gradient(#51db1c, #6ba061);
}

/*Set option for check box*/
.register .checkboxy {
    display: block;
    position: static;
    height: 25px;
    margin-top: 10px;
    clear: both;
}

/*Set attributes for checkbox input type*/
.register  input[type=checkbox] {
    float: right;
    margin-right: 10px;
    margin-top: 3px;
}

.register label.terms {
    float: right;
    font-size: 12px;
    font-style: italic;

}


/*Set atribute for input of set age, using selection*/
.age{

  font-family: "Lucida Grande","Lucida Sans Unicode",Tahoma,Sans-Serif;
  padding: 5px;
  font-size: 0.9em;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.07);

}

.age:focus{

background: #FFFFFF;

}

/*Set style for div in info class*/
.info > div {

  display: inline-block;
  float: left;
  width: 49%;
  margin-top: 50px;
  text-align: center;
  font-family: Tahoma,"Lucida Sans Unicode",Tahoma,Sans-Serif;
  padding: 5px;
  font-size: 0.9em;
  border-radius: 5px;
  text-decoration: inherit;
  border-right: 1px solid grey;

 }

  /*Set style of font to pargraphs in div */
 .info > div > p {

 	font-family: "Sans-Serif" , "Lucida Sans Unicode",Tahoma;
  font-style: italic;


 }

/*Set border and bckground of button for upload picture*/
#submit{

   border-radius: 6px;
   background: -o-linear-gradient(#63E651, #42753E);
   background: linear-gradient(grey, #42753e);

}


/*Set also hover*/
#submit:hover{


  background: #51DB1C;
  background: -webkit-linear-gradient(#51DB1C, #6BA061);
  background: -moz-linear-gradient(#51DB1C, #6BA061);
  background: -o-linear-gradient(#51DB1C, #6BA061);
  background: linear-gradient(#51db1c, #6ba061);



}


